.movie-list {
  padding: 20px;
  text-align: center;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movie-poster {
  width: 100%;
  border-radius: 8px;
}

h3 {
  margin: 10px 0;
}

.more-info-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.more-info-button:hover {
  background-color: #0056b3;
}

.movie-details {
  padding: 20px;
  text-align: center;
}

.movie-detail-poster {
  width: 300px;
  border-radius: 8px;
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #218838;
}
